@font-face {
	font-family: "Maiandra GD";
	src: url("MaiandraGD.ttf") format("truetype");
}


html, body {
	background-color: #727272;
	font-family: Maiandra GD, sans-serif;
	margin: 0px;
	padding: 0px;
	min-width: 320px;
	min-height: 480px;
}

main {
	width: 100%;
	background-color: #fff;
}

/*.nav-wrapper {
	background-color: #00bcd4;
}*/

.brand-logo {
	padding-left: 16px !important;
}

.button-collapse {
	padding-left: 16px !important;
}

#regnav {
	padding-right: 16px !important;
}

.titlename {
	text-align: center;
	font-size: 2.1rem;
	letter-spacing: 0px;
	line-height: 1.1em;
}

#index-tt {
	width:100%;
}

#index-tt .titlename {
	margin: 0 auto;
}

#index-tt .titlename span {
	border-bottom: 1px dotted black;
} /*TEH HAX!! */

.nobullets {
	list-style: none;
}

a {
	cursor: pointer;
	cursor: hand;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	width: 120px;
	top: 100%;
	left: 50%; 
	margin-left: -60px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.tsawl {
	font-size: 25pt;
	font-family: Arial !important;
}

#page-content-div {
	padding-top: 40px;
	padding-bottom: 40px;
}

#fab {
	display: none;
}

.foot {
	background-color: #727272;
	font-size: 10pt;
	box-sizing: border-box;
	color: #eeeeee;
	text-align: center;
	padding: 30px;
	bottom: 0px;
}
